@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

/* Палитра цветов 
цвет телефона и почты #757575 
цвет акцента  в навигации #2196F3 
цвет кнопки #2196F3
цветк акцент на кнопке #188CE8 
цвет заголовков #212121
основной цвет текста  #757575
текст в секции 1 #FFFFFF
основной цвет фона #FFFFFF
цвет подвала #2F303A
цвет секции #F5F4FA

цвет кнопок в Портфолио  #F5F4FA
*/
:root {
--primary-accent-color: #2196F3;
--main-text-color: #757575;
--secondary-accent-color: #188CE8;
--main-bcg-color: #FFFFFF;
--secondary-bcg-color: #F5F4FA;
--footer-color: #2F303A;
--h-text-color:#212121;
}
 /* Глобальные характеристики */

body {
    background-color:var(--main-bcg-color);
    font-family: Roboto;
}
a {
  text-decoration: none;
}

a .site-nav,
a .contacts-footer {
  text-decoration: none;
}

/* Общий CSS для Студии и Портфолио */
/* Header */

.page-header {

background: var(--main-bcg-color);
flex-wrap: nowrap;
/* линия для портфолио в хэдере 
border-bottom:slategrey;*/

display: flex;
justify-content: space-between;
padding-bottom: 5px;
border-bottom: 1px solid #ECECEC;
}
/* Логотип */
.logo-link {
  color:var(--primary-accent-color);
}
.logo-link-one, 
.logo-link-two:hover {
  text-decoration: underline;
  color:var(--primary-accent-color);
}
.logo-link-one, 
.logo-link-two:focus {
  text-decoration: var(--primary-accent-color);
}
/* Навигация меню */
.navigation {
    display: flex;
    justify-content: space-between;
    text-decoration:none;
    color:var(--h-text-color);
    justify-content: end;
  }
  .link {
    display: inline-block;
    text-decoration:none;
    color: var(--h-text-color);
    padding: auto;
  }
  .current {
  display: inline-block;
  color:var(--primary-accent-color);
  }
  .link:hover,
  .link:focus {
    /* text-decoration: underline;  исправление дз*/
    color: var(--primary-accent-color);
  }
  .header-list{
    display: inline-block;
    margin-left: auto;
  }
  .logo-link {
font-family:'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
 font-size: 26px;
 text-decoration:none;
line-height: 31px;
letter-spacing: 0.03em;
color:var(--accent-color);
 }

.page-header .logo-link-one {
 color: var(--primary-accent-color);
 /* text-decoration:none; */
 }
.page-header .logo-link-two {
color:var(--main-bcg-color);
/* text-decoration:none; */
 }
    
.page-header .logo-link:hover {
text-decoration: underline 0,15em var(--primary-accent-color);
transition: text-decoration-color 300ms;
/* inherits:#ffffff; */
 }
.page-header .logo-link-one
.page-header .logo-link-two:hover {
text-decoration: underline 0,15em var(--primary-accent-color);
}

.site-nav {
color:black;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
text-decoration: none;
list-style-type: none;
flex-wrap: nowrap;
display: flex;
justify-content: space-between;
text-decoration:none;
}

.site-nav:hover {
  color:#2196F3;
}

.site-nav:focus {
  color:#2196F3;
}



.header-contacts {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
}


.header-list {
text-decoration:none;   
}
.section-button {
background: #2F303A;
text-align: center;
width: 1600px;
height: 600px;
}
.title-h1 {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
padding-top: 200px;

}

.order-button {
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
align-items: center;
width: 200px;
height: 50px;
left: 700px;
top: 430px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
}
.order-button:hover {
text-decoration: underline #2196F3;
color: #FFFFFF;
background-color: #188CE8;
}

/* Убираю маркеры li */
.list {
  list-style-type: none;
}
.adventages-list.list {
font-family: Roboto;
font-style: normal;
list-style-type: none;
}
.title-hidden {
  font-size: 0px;
}
.list{
  list-style-type: none;
}
.title-advantages {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    list-style-type: none;
}
.contect-advantages {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px; 
    letter-spacing: 0.03em;
    color: #757575;
    
}
.section-three {
background: #F5F4FA;
}

.tasks-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:flex-start;
}
.heroes {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
}
.photo-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:flex-start;
}
.team-box {
  background: #FFFFFF;
/* material shadow v1 */
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
text-align: center;
letter-spacing: 0.03em;
}
.page-footer{
background: #2F303A;
}
.logo-footer{
font-family: Raleway;
font-style: normal;
font-weight: bold;
color:white;
font-size: 26px;
line-height: 31px;
}
.logo-link-three {
color: #2196F3;
}
.logo-link-four {
color:black;
text-decoration: none;
}

.adress-footer {
color: #FFFFFF;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
text-decoration: none;
}
.contacts-footer {
color: rgba(255, 255, 255, 0.6);
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
}
.section-tasks {
  text-align: center;
}
.buttons-list {
list-style-type: none;
}
.title-project {
  font-size: 0;
}
.title {
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
color: #212121;
}
.paragraph-project {
color: #757575;
font-size: 16px;
line-height: 30px;
}

.buttons-list{
/* shadow-middle */
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
text-align: center;
letter-spacing: 0.03em;
}

.button-portfolio {
background-color: #F5F4FA;
border-radius: 4px;
width: 128px;
height: 38px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
}
.button-portfolio:hover{
  background: #2196F3;
/* shadow-middle */
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.button-portfolio-small {
background-color: #F5F4FA;
width: 73px;
height: 38px;
color: #212121;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
}
.button-portfolio-small:hover {
  background: #2196F3;
/* shadow-middle */
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.buttons-list {
  display: flex;
  flex-direction: row;
  list-style:none;
  border-radius:4px;
}

.project-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:flex-start;
  
  /* Делаем Flex-контейнет многострочным */
  flex-wrap: wrap;
  list-style-type: none;
}